@import "../../../variables.scss";

#header {
  padding-top: 8em;
  padding-bottom: 8em;

  //   background-image: linear-gradient(rgba($blue5, 0.3), rgba($blue5, 0.5)),
  //     url("https://images.pexels.com/photos/1319460/pexels-photo-1319460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  // background-image: linear-gradient(rgba($blue5, 0.3), rgba($blue5, 0.3)),
  //   url(https://cdn.pixabay.com/photo/2014/12/17/21/29/school-571938_960_720.jpg);
  background-image: linear-gradient(rgba($blue5, 0.3), rgba($blue5, 0.3)),
    url("/assets/images/find-hairdresser.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: "Baloo Thambi 2";
    //color: darken($blue4, 40%);
    // color: #212529;
    color: $blue5;
    margin-left: -10px;
  }

  // #find-hairdresser {
  //   // background-color: white;
  //   // border-radius: 10px;
  // }
}
