<!-- <form [formGroup]="validationForm"> -->
<div id="header">
    <div class="container">
        <div class="row">
            <mdb-card class="col-lg-6 col-sm-12">
                <mdb-card-body>
                    <form id="find-hairdresser" [formGroup]="hairdresser" (ngSubmit)="onSubmit()">
                        <div class="col-12 pt-3">
                            <h1>kapper zoeken</h1>
                        </div>
                        <div class="row">
                            <div class="md-form col-lg-12 col-xs-12">
                                <mdb-icon fas icon="cut" class="prefix"></mdb-icon>
                                <input mdbInput mdbValidate minLength="8" maxLength="25" type="text"
                                    class="form-control" id="Name" placeholder="Zoeken op salonnaam"
                                    formControlName="name" aria-label="name">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Zoek kapper</button>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
            </mdb-card>
            <div class="col-6 d-none d-lg-block">
                <h1 class="text-white ml-5 mt-5">Vind eenvoudig de kapper van uw volgende knipbeurt</h1>
            </div>
        </div>
    </div>
</div>