<div class="background">
    <div class="container">
        <div class="panel pricing-table">

            <div class="pricing-plan">
                <mdb-icon far icon="clock" class="icon"></mdb-icon>
                <h2 class="pricing-header animation">Snelle afspraak</h2>
            </div>

            <div class="pricing-plan">
                <mdb-icon fas icon="globe-europe" class="icon"></mdb-icon>

                <h2 class="pricing-header animation">Groot aanbod</h2>
            </div>

            <div class="pricing-plan">
                <mdb-icon fas icon="shield-alt" class="icon"></mdb-icon>

                <h2 class="pricing-header animation">Extreem veilig</h2>
            </div>

        </div>
    </div>
</div>