<div class="row justify-content-center pt-5">
    <div class="text-center border border-light p-5 appointment shadow">

        <p class="h4 mb-4">{{appointment.firstname}} {{appointment.lastname}}</p>

        <div class="row justify-content-center">
            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4 col-4 mr-2 text-center"
                value="{{appointment.startMoment.toString().substring(0,9)}}" disabled="true">
            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4 col-4 ml-2 text-center"
                value="{{appointment.startMoment.toString().substring(11,16)}}" disabled="true">
        </div>

        Behandelingen
        <div *ngFor="let treatment of appointment.treatments">
            <input type="text" id="defaultLoginFormEmail" class="form-control mb-4 text-center"
                value="{{treatment.name}}, {{treatment.categoryString}} (€{{treatment.price}})" disabled="true">
        </div>

        <a type="button" mdbBtn color="primary" [routerLink]="['/manage/calendar']" mdbWavesEffect>Terug</a>
        <button type="button" mdbBtn color="danger" (click)="deleteAppointment()" mdbWavesEffect>Verwijder</button>
        <div *ngIf="warningMessage" class="alert alert-warning mt-4" role="alert">
            {{warningMessage}}
            <button (click)="confirmDeleteAppointment()" mdbBtn color="danger" mdbWavesEffect>Bevestigen</button>
        </div>
    </div>

</div>