<!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="https://cdn.pixabay.com/photo/2019/03/08/20/17/beauty-salon-4043096_960_720.jpg"
            alt="Card image cap">
        </mdb-card-img>
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
            <h4>{{this.hairdresser.name}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
        </mdb-card-text>

        <a mdbBtn color="primary" mdbWavesEffect [routerLink]="['/hairdresser/detail/', this.hairdresser.id]">Button</a>
    </mdb-card-body>
</mdb-card>
<!-- Card -->