<div class="container">
    <form class="text-center border border-light p-5 register" [formGroup]="login" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">Log in als kapper</p>

        <!-- Name -->
        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" formControlName="email">

        <!-- Password -->
        <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
        <small id="passwordHelpBlock" class="form-text text-muted mb-4">
            Minstens 8 karakters, 1 cijfer en 1 speciaal teken
        </small>

        <!-- Sign up button -->
        <button mdbBtn color="primary" block="true" class="my-4" type="submit">Registreer</button>

        <hr>
    </form>
    <div class="alert alert-danger error" role="alert" *ngIf="errorMessage">
        Er is een error opgetreden: {{ errorMessage }}
    </div>
</div>